

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #ffffff;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
